*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 body{
    /* background-color: rgb(20, 20, 20); */
    height: 100vh;
    margin: 0px;
    cursor: pointer;
    color: white;
  }

  .container-2{
    width: 100%;
    height: 500px;
  }



 .mainc{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(image/pexels-adrien-olichon-1257089-2387793.jpg);
}

.container-1{
    display: flex;
    flex-direction: column;
    /* max-width: 1136px; */
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    position: relative;
    border: 1px black;
    border-radius: 60px;
}

.framer {
    position: relative;
    overflow: hidden;
    margin-top: -15px;
}
.svg-container {
    position: relative;
    /* background-color: black; */
    overflow: visible;
}
.main-svg {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}
.main-svg img {
    /* vertical-align: middle;
    border-style: none; */
    overflow-clip-margin: content-box;
    overflow: clip;

}

.gradient-circle1 {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 196px;
    background-image: url(image/gradient.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1;
    animation: revealGradient 1.5s forwards;
}
.gradient-circle {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-image: url(image/gradient.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1;
    animation: revealGradient 1.5s forwards;
}
.gradient-circle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-image: url(image/gradient.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1;
    animation: revealGradient 1.5s forwards;
}

.container-1 .cool-sites {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    gap: 10px;
    padding: 5px 5px;
    position: absolute;
    top: 182px;
    left: -36px;
    background-color: #ffd013;
    border-radius: 12px;
    transform: rotate(-16.93deg);
}
.cool-sites{
    z-index: 3;
    position: relative;
}
section{
    display: block;
    unicode-bidi: isolate;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    margin: 10px;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
.intro-text {
    position: relative;
    top: -2 rem;
    overflow: visible;
}
.container_new.flex-vert-center {
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 100vh;
    width: 100%;
}
.margin-bottom-custom1 {
    opacity: 0;
    margin-bottom: 2rem;
    transform: scale(1.2) translateY(10vh);
}

h3 {
    /* font-size: 3vw; */
    margin: 10px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    color: #000;
    font-size: 3rem !important;
}
.container2{
    margin-top: 150px;
}

.icon-img{
    width:80% !important;

}
.progress{
    margin: 5px;
    height: 30px !important;
}





/* navbar css  */


.navbar{
    background-color: white;
}
.navbar-nav{
    margin-left: 406px;
}
.contactmail{
    margin-left: 170px;
}


.collapse{
    justify-content: space-evenly;
}
.btnhidden{
    visibility: hidden;
}






  /* //progress barr css  */


  .skill-set__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.content {
    width: 98%;
    margin: auto;
}

.skill-set__list {
    width: 47%;
}
.skill-set__flex ol, ul {
    list-style: none;
}

.skill-set__item {
/*     margin-top: 6.4rem; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.skill-set__icon {
    width: 10.6382%;
    -ms-flex-item-align: center;
    align-self: center;
}
.skill-set__item img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 100%;
}
.skill-set__detail {
    width: 85.1063%;
}
.skill-set__meta {
    margin-bottom: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.skill-set__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.small-title {
    font-size: 2.4rem;
    color: #072142;
    letter-spacing: 0.2em;
    line-height: 1.2;
    font-family: "futura_de";
}
.skill-set__year {
    font-size: 1.4rem;
    line-height: 1.2;
    color: #c0c5ca;
    margin-left: 0.8rem;
    letter-spacing: 0.2em;
}
.skill-set__high {
    color: #ff4d5a;
}
.small-title {
    font-size: 2.4rem;
    color: #072142;
    letter-spacing: 0.2em;
    line-height: 1.2;
    font-family: "futura_de";
}
skill-set__ratio {
    font-size: 1.6rem;
    line-height: 1.2;
    color: #072142;
}
.skill-set__bar {
    width: 100%;
    height: 1.4rem;
    background: #fff;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
    box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}
.skill-set__bar:after {
    -webkit-animation: ratio90 1.5s forwards;
    animation: ratio90 1.5s forwards;
}
.skill-set__bar:after {
    background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
    background-image: -webkit-linear-gradient(left, #ebeced, #8c2b7a 42%, #ff4d5a);
    background-image: -o-linear-gradient(left, #cccfd3, #8c2b7a 42%, #ff4d5a);
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}

.skill-set__bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    width: 80%;
}
.skill-set__name p{
    margin-bottom: 0px !important;
}



.skill-set{
    margin-top: 180px;
}

/* // image gallery */

.imageg{
    height: 50%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  column-count: 4;
  --webkit-column-count: 4;
  --moz-column-count: 4;
  gap: 1rem;
  padding: 4rem;
}

.image img {
  height: auto;
  width: 100%;
}

/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
  .gallery {
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
  }
}



.postcard {
    h2 {
      top: 50%;
      text-align: left;
      transform: translate3d(50px, 20px, 0);
    }
    
    p {
      transform: translate3d(40px, 60px, 0);
      font-size: 24px;
      letter-spacing: 1px; 
    }
    
    &:hover {
      h2 { transform: translate3d(20px, 20px, 0); }
      p { opacity: 1; }
      
      img {
        filter: opacity(0.7);
        transform: translate3d(-30px, 0, 0);
      }
    }
  }
  
.box {
    position: relative;
    max-height: 300px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow:
    0 1.4px 1.7px rgba(0, 0, 0, 0.017),
    0 3.3px 4px rgba(0, 0, 0, 0.024),
    0 6.3px 7.5px rgba(0, 0, 0, 0.03),
    0 11.2px 13.4px rgba(0, 0, 0, 0.036),
    0 20.9px 25.1px rgba(0, 0, 0, 0.043),
    0 50px 60px rgba(0, 0, 0, 0.06);
    
    .hide { opacity: 0; }
    
    .frame {
      position: absolute;
      border: 1px solid #fff;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    h2, p {
      position: absolute;
      color: #fff;
      z-index: 2;
      width: 100%;
      transition: opacity 0.2s, transform 0.3s;
    }
    
    h2 {
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 0;
      letter-spacing: 1px;
    }
    
    p {
      bottom: 0;
      font-size: 14px;
      letter-spacing: 1px;
    }
    
    &:hover {
      transition: all .3s ease-in-out;
    }
    
    &:hover:before {
      transition: all .3s ease-in-out;
    }
    
    img {
      position:relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all .3s ease-in-out;
      
      &:hover {
        transition: all .3s ease-in-out;
      }
      
      &:after {
        content: '';
        position: absolute;
        background-color: rgba(0,0,0,.6);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
      }
      
      &:hover {
        transition: all .3s ease-in-out;
      }
    }
  }






/* // hover image */



  /* text effect project */


.contenttitle{
    text-align: center;
    justify-content: center;
    margin-top: 85px;
    font-family: fantasy;
}
.contenttitle1{
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    font-family: fantasy;
}



.titleh {
    /* background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%); */
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    font-size: 60px;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
.titleh:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.titleh:hover {
    background-position: 0;
}
.titleh:hover::before {
    width: 100%;
}







                  /* base button */
                  .btn-cta {
                    border-radius: 100vw;
                    overflow: hidden;
                    padding: 1rem 2rem;
                    text-align: center;
                    will-change: transform;
                    transform: translateZ(0);
                    transition: transform 0.4s;
                }

                .btn-cta-title > * {
                    position: relative;
                    display: block;
                    font-family: "Jost", sans-serif;
                    font-weight: 500; /* This will make the text bold */
                    z-index: 2;
                    transition-duration: 0.4s;
                }

                .btn-cta-bg {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    overflow: hidden;
                    transform: translateZ(0);
                    border-radius: inherit;
                }

                .btn-cta-bg .btn-cta-bg-hover {
                    display: block;
                    width: 100%;
                    height: 100%;
                    transform: translateY(101%);
                    border-radius: 50% 50% 0 0;
                    transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1), border-radius 0.4s cubic-bezier(0.4, 0, 0, 1);
                }

                .btn-cta-text-hover {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    overflow: hidden;
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: inherit;
                    transform: translateY(101%);
                    transition-duration: 0.4s;
                }

                .btn:hover {
                    transform: scaleX(1.02);
                    transition: transform 0.5s cubic-bezier(0.34, 5.56, 0.64, 1);
                }

                .btn:hover .btn-cta-bg-hover {
                    border-radius: 0;
                    transform: translateY(0);
                    transition-duration: 0.5s, 0.8s;
                }

                .btn:hover .btn-cta-title > * {
                    transform: translateY(-201%);
                    transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1), border-radius 0.4s cubic-bezier(0.4, 0, 0, 1), opacity 0.4s cubic-bezier(0.4, 0, 0, 1);
                }

                .btn:hover .btn-cta-text-hover {
                    transform: translateY(0);
                    opacity: 1;
                    transition-duration: 0.3s;
                }

                /* CTA link */
                .btn-link, .btn-link-alt {
                    display: inline-block;
                    padding: 0;
                    border-radius: 0;
                    transition: color 0.5s cubic-bezier(0.1, 0, 0, 1);
                }

                .btn-link:hover, .btn-link-alt:hover {
                    color: inherit;
                    /* This line can be removed if 'color: inherit' is not changing anything */
                }

                .btn-link span::after, .btn-link-alt span::after {
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    content: "";
                    height: 2px;
                    width: 100%;
                    background: currentColor;
                    will-change: transform;
                    transition: transform 0.5s cubic-bezier(0.694, 0, 0.335, 1);
                }

                .btn-link span::after {
                    transform: scaleX(0);
                    transform-origin: right center;
                }

                .btn-link:hover span::after {
                    transform: scaleX(1);
                    transform-origin: left center;
                }

                .btn-link-alt span::after {
                    transform: scaleX(1);
                    transform-origin: left center;
                }

                .btn-link-alt:hover span::after {
                    transform: scaleX(0);
                    transform-origin: right center;
                }




                .text_white.font-s-p.btn_copied {
                  color: white;
                }
                


                .btn.btn-cta.btn-nav-cta-secondary {
                  width: 150px; /* Specific width for the button */
                  height: 50px; /* Specific height for the button */
                  line-height: 50px; /* Align text vertically */
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  overflow: hidden;
                  position: relative;
                  text-decoration: none !important; /* Forcefully remove underline */
                  color: rgb(255, 255, 255); /* Set text color to black */
                  background-color: transparent; /* Optional: Set background color if needed */
                  border: 1px solid black; /* Optional: Set border color if needed */
                }
                
                /* Other styles for hover effects, text, and background can be similar to the primary button */
                

/* Other styles for hover effects, text, and background can be similar to the primary button */


.btn-cta-title-secondary {
display: inline-block;
color: black; /* Set font color to black */
}

.btn-cta-title > *,
.btn-cta-title > a, /* Targeting anchor tags specifically */
.btn-cta-title > a:hover, /* Targeting hover state of anchor tags */
.btn-cta-title > a:visited { /* Targeting visited state of anchor tags */
position: relative;
display: block;
z-index: 2;
transition-duration: 0.4s;
white-space: nowrap; /* Keep text in a straight line */
}



.btn-cta-text-hover-secondary {
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 1;
overflow: hidden;
opacity: 0;
display: flex;
justify-content: center;
align-items: center;
border-radius: inherit;
transform: translateY(101%);
transition-duration: 0.4s;
}

.btn_secondary-text {
padding-left: 1rem;
line-height: 38px;
white-space: nowrap; /* Prevent text wrapping */
}

/* Hover Effects for Secondary Button */
.btn-nav-cta-secondary:hover .btn-cta-bg-hover {
border-radius: 0;
transform: translateY(0);
transition-duration: 0.5s, 0.8s;
}

.btn-nav-cta-secondary:hover .btn-cta-title-secondary > * {
transform: translateY(-201%);
transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1), border-radius 0.4s cubic-bezier(0.4, 0, 0, 1), opacity 0.4s cubic-bezier(0.4, 0, 0, 1);
}

.btn-nav-cta-secondary:hover .btn-cta-text-hover-secondary {
transform: translateY(0);
opacity: 1;
transition-duration: 0.3s;
}


/* add button */



.btn.btn-cta.btn-nav-cta {
  width: 110px;
  border: 1px solid rgb(0, 0, 0);
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
}
.btn-cta {
  border-radius: 100vw;
  overflow: hidden;
  padding: 1rem 2rem;
  text-align: center;
  will-change: transform;
  transform: translateZ(0);
  transition: transform 0.4s;
}
.btn-flex {
  align-items: center;
  line-height: 38px;
  display: flex;
}

.btn-cta-title {
  display: inline-block;
  color: black;
}.btn-cta-bg-hover.cta-bg-secondary {
  background-color: rgb(0, 0, 0);
}





/* 
-----------future css-------------- */

#future {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }
  
  #future video {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Updated to take the full viewport width */
    height: 100vh; /* Maintain full viewport height */
    object-fit: cover; /* Cover the area without losing aspect ratio */
    transform: translate(0, 0); /* Updated transformation */
  }
  
  #ftext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9999;
    background-color: #fff;
    padding: 1vw 3vw;
    border-radius: 10px;
    margin: 3rem 0;
  }
  
  
  /* Media query for 4K displays */
  @media (min-width: 3840px) {
    #future video {
      width: 100vw; /* Full width of the viewport */
      height: auto; /* Adjust height automatically */
      min-height: 100vh; /* Ensure it covers the full viewport height */
    }
  }
  

  #ftext button {
    padding: .8vw 1.7vw;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 100px;
    /* border: 1px solid black; */
    color: black;
    font-family: 'Jost', sans-serif; /* Added Jost font */
  }
  
  #ftext h3 {
    font-size: 3vw;
  margin: 32px; /* Adjust the value as needed */
    color: black;
      }
  
   #ftext   .p2 {
  
        font-weight: bold;
      }
  
      #hoverButton:hover {
        cursor: pointer; /* Change cursor to pointer on hover */
      }
      
      @media (max-width: 600px) { /* Adjust the max-width as needed for your mobile breakpoint */
        #ftext h3 {
          font-size: 7vw; /* This makes the font size 7% of the viewport's width */
        }
      }
      
  
  
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
      
  
  
  